<!DOCTYPE html>
<html>
    <head><meta charset="utf-8">
        <title>Virtual host on {{ ansible_facts["fqdn"] }}</title>
    </head>
    <body>
        <h2>Welcome to <strong>{{ vhost_name }}.{{ ansible_facts["domain"] }}</strong>!</h2>
        <p>This is a placeholder site.</p>
    </body>
</html>
