<VirtualHost *:80>
DocumentRoot /var/www/html/{{ vhost_name }}.{{ ansible_facts["domain"] }}
ServerAdmin {{ server_admin }}
ServerName {{ vhost_name }}.{{ ansible_facts["domain"] }}
ErrorLog {{ apache_log_dir[ansible_facts["os_family"]] }}/{{ vhost_name }}.{{ ansible_facts["domain"] }}-error_log
CustomLog {{ apache_log_dir[ansible_facts["os_family"]] }}/{{ vhost_name }}.{{ ansible_facts["domain"] }}-access_log common
</VirtualHost>
